/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require_tree . 
*/

.header{
    height: 250px;
    background-color: red;
}

ul.topnav {
    margin: 0;
	float: left;
    border-bottom: solid 1px #000;
    width: 100%;
    li {
        float: left;
        margin: 0;
        padding:{
            top: 2px;
            bottom: 1px;
            left: 5px;
            right: 20px;
        }
        width: 170px;
        position: relative;
        border-right: solid 1px #000;
        list-style:none;
    }
}

.footer{
    height: 100px;
    background-color: black;
}
