!!!
%html
  %head
    %title Bds
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
    
    %ul.topnav
      %li Lien 1
      %li Lien 2
      %li Lien 3
      
    .container
      = yield
    .footer
